.menu{
    display: flex;
    position: absolute;
    right: 20px;
}
.menu:hover{
    cursor: pointer;
}

.menu__avatar-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    margin-right: 6px;
}

.menu-dropdown{
    display: block;
    position: absolute;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 134px;
    height: 60px;
    top: 55px;
    right: 14px;
}

.menu-dropdown__arrow-top{
    border: 10px solid transparent;
    position: absolute;
    border-bottom-color: white;
    left: 83px;
    top: -15px;
}

.menu-dropdown__item{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 22px;
}
.menu-dropdown__item__text:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu-dropdown__item__text:active{
    color: gray;
}