.footer{
    display: flex;
    align-items: center;
    background-color: #0067A3;
    height: 55px;
    width: 100vw;
    padding: 0 20px;
    position: absolute;
    font-size: 18px;
    bottom: 0;
}
@media(max-width:815px){
    .footer{
        position: relative;
        font-size: 15px;
    }
}
@media(max-width:530px){
    .footer{
        justify-content: space-around;
    }
}
@media(max-width:380px){
    .footer{
        display: none;
    }
}

.footer__span{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.footer__span:nth-last-child(1){
    position: absolute;
    right: 20px;
}
@media(max-width:530px){
    .footer__span:nth-last-child(1){
        display: none;
    }
}

.footer__span:nth-last-child(2){
    margin: 0 36px;
}
@media(max-width:815px){
    .footer__span:nth-last-child(2){
        margin: 0 20px;
    }
}