.task-list__input{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
}
.task-list__input::placeholder{
    opacity: .8;
    transition: opacity .3s ease;
}
.task-list__input:focus::placeholder{
    opacity: 0;
    transition: opacity .3s ease;
}


.task-list__button, .task-list__submit-button{
    color: #5E6C84;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.task-list__button:hover{
    background-color: white;
    cursor: pointer;
}
.task-list__button:active{
    background-color: rgb(250, 250, 250);
}
.task-list__button:disabled{
    color: rgb(179, 177, 190);
    cursor: default;
}
.task-list__button:disabled:hover, .task-list__button:disabled:active{
    background-color: transparent;
}
.task-list__button:disabled img{
    display: none;
}

.task-list__button__img{
    margin-right: 4px;
}

.task-list__submit-button{
    padding: 5px 20px;
}
.task-list__submit-button:hover{
    background-color: #0079BF;
    cursor: pointer;
    color: white;
}
.task-list__submit-button:active{
    background-color: #0067a3;
}
